
 *{
    box-sizing: border-box;
 }
 body{
    background-image: url("images.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    height: 100vh;
    text-align: center;
 

}
.title{
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    
}

.main{
    display: flex;
 opacity:0.9 ;
    width: 500px;
border-radius: 10px;
height: auto;
background-color: rgb(255, 255, 255);

    flex-direction: column;
    justify-content:center;
    align-items: center;
    height: 100vh;
    text-align: center;

    padding: 10px;
    margin: 20px;

   
}
.login{

  color: rgb(0, 0, 0);
 background-color: red;
  border-radius: 20px;
 padding: 10px;
 width: 100%;
 align-items: baseline;
 border: none;
cursor: pointer;
font-family: Arial, Helvetica, sans-serif;
font-weight: bold;
justify-content: center;

}
.login:hover{

 background-color: rgb(0, 0, 0);
 opacity:0.5;
}
.login:active{
    background-color: aqua;
    box-shadow: 5px;
    
}
.text{

color: aliceblue;

}
img{
    background-position: 0%;
    height: 150px;
    width: 150px;


}
label{
font-weight: bold;
font-family: Arial, Helvetica, sans-serif;


}
input{
    border-radius: 5px;
    box-shadow: none;
    border: none;
    background-color: rgb(172, 172, 172);
    padding: 12px;
    width: 250px;
    appearance: none;
    -webkit-appearance:none ;
    color: white;
    align-items: center;
    text-align: center;
}
.reg{

    color: rgb(0, 0, 0);
   background-color: red;
    border-radius: 20px;
   padding: 10px;
   width: 100px;
   align-items: center;
   border: none;
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  
  }
select{
    border-radius: 10px;
    box-shadow: none;
    box-shadow: 50px;
    
 
}
h1{

  font-family: "login";
  font-weight: bold;  
  font-size: 1000px;
}